{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="me-auto ms-auto" style="text-align:center;">
            <h3>Регистрация нового пользователя</h3>
        </div>
        <div class="col-md-4 ms-auto me-auto">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
